In [1]:
import pandas as pd

train_df = pd.read_csv('train.csv')

train_df['target'].abs().mean()

6.40777074811524

In [2]:
# Confirm if there are any missing values left
missing_values = train_df.isnull().sum()

missing_values

stock_id                         0
date_id                          0
seconds_in_bucket                0
imbalance_size                 220
imbalance_buy_sell_flag          0
reference_price                220
matched_size                   220
far_price                  2894342
near_price                 2857180
bid_price                      220
bid_size                         0
ask_price                      220
ask_size                         0
wap                            220
target                          88
time_id                          0
row_id                           0
dtype: int64

In [3]:
missing_wap_data = train_df[train_df['wap'].isna()]
missing_wap_data

,stock_id,date_id,seconds_in_bucket,imbalance_size,imbalance_buy_sell_flag,reference_price,matched_size,far_price,near_price,bid_price,bid_size,ask_price,ask_size,wap,target,time_id,row_id
369508,131,35,0,NaN,0,NaN,NaN,NaN,NaN,NaN,0.00,NaN,0.00,NaN,NaN,1925,35_0_131
369700,131,35,10,NaN,0,NaN,NaN,NaN,NaN,NaN,0.00,NaN,0.00,NaN,NaN,1926,35_10_131
369892,131,35,20,NaN,0,NaN,NaN,NaN,NaN,NaN,0.00,NaN,0.00,NaN,NaN,1927,35_20_131
370084,131,35,30,NaN,0,NaN,NaN,NaN,NaN,NaN,0.00,NaN,0.00,NaN,NaN,1928,35_30_131
370276,131,35,40,NaN,0,NaN,NaN,NaN,NaN,NaN,0.00,NaN,0.00,NaN,NaN,1929,35_40_131
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4774999,19,438,500,NaN,-1,NaN,NaN,NaN,NaN,NaN,115491.18,NaN,1990.10,NaN,3.319979,24140,438_500_19
4775199,19,438,510,NaN,-1,NaN,NaN,NaN,NaN,NaN,189040.50,NaN,26283.84,NaN,-5.049705,24141,438_510_19
4775399,19,438,520,NaN,-1,NaN,NaN,NaN,NaN,NaN,1392.93,NaN,43799.80,NaN,-0.110269,24142,438_520_19
4775599,19,438,530,NaN,-1,NaN,NaN,NaN,NaN,NaN,13531.32,NaN,26881.20,NaN,-1.689792,24143,438_530_19
4775799,19,438,540,NaN,-1,NaN,NaN,NaN,NaN,NaN,3183.84,NaN,39226.64,NaN,8.920431,24144,438_540_19

In [4]:
df_cleaned = train_df.dropna(subset=['wap'])

# Confirm if there are any missing values left
missing_values = df_cleaned.isnull().sum()

missing_values

stock_id                         0
date_id                          0
seconds_in_bucket                0
imbalance_size                   0
imbalance_buy_sell_flag          0
reference_price                  0
matched_size                     0
far_price                  2894122
near_price                 2856960
bid_price                        0
bid_size                         0
ask_price                        0
ask_size                         0
wap                              0
target                           0
time_id                          0
row_id                           0
dtype: int64

In [5]:
df_cleaned['imbalance_size'] = df_cleaned['imbalance_size'] * df_cleaned['imbalance_buy_sell_flag']
df_cleaned = df_cleaned.drop(columns=['imbalance_buy_sell_flag'])

/tmp/ipykernel_18330/528561414.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_cleaned['imbalance_size'] = df_cleaned['imbalance_size'] * df_cleaned['imbalance_buy_sell_flag']

In [6]:
df_cleaned.head()

,stock_id,date_id,seconds_in_bucket,imbalance_size,reference_price,matched_size,far_price,near_price,bid_price,bid_size,ask_price,ask_size,wap,target,time_id,row_id
0,0,0,0,3180602.69,0.999812,13380276.64,NaN,NaN,0.999812,60651.50,1.000026,8493.03,1.0,-3.029704,0,0_0_0
1,1,0,0,-166603.91,0.999896,1642214.25,NaN,NaN,0.999896,3233.04,1.000660,20605.09,1.0,-5.519986,0,0_0_1
2,2,0,0,-302879.87,0.999561,1819368.03,NaN,NaN,0.999403,37956.00,1.000298,18995.00,1.0,-8.389950,0,0_0_2
3,3,0,0,-11917682.27,1.000171,18389745.62,NaN,NaN,0.999999,2324.90,1.000214,479032.40,1.0,-4.010200,0,0_0_3
4,4,0,0,-447549.96,0.999532,17860614.95,NaN,NaN,0.999394,16485.54,1.000016,434.10,1.0,-7.349849,0,0_0_4

In [7]:
# Replace missing values in 'far_price' and 'near_price' with -999
df_cleaned['far_price'].fillna(-999, inplace=True)
df_cleaned['near_price'].fillna(-999, inplace=True)

df_cleaned.head()

,stock_id,date_id,seconds_in_bucket,imbalance_size,reference_price,matched_size,far_price,near_price,bid_price,bid_size,ask_price,ask_size,wap,target,time_id,row_id
0,0,0,0,3180602.69,0.999812,13380276.64,-999.0,-999.0,0.999812,60651.50,1.000026,8493.03,1.0,-3.029704,0,0_0_0
1,1,0,0,-166603.91,0.999896,1642214.25,-999.0,-999.0,0.999896,3233.04,1.000660,20605.09,1.0,-5.519986,0,0_0_1
2,2,0,0,-302879.87,0.999561,1819368.03,-999.0,-999.0,0.999403,37956.00,1.000298,18995.00,1.0,-8.389950,0,0_0_2
3,3,0,0,-11917682.27,1.000171,18389745.62,-999.0,-999.0,0.999999,2324.90,1.000214,479032.40,1.0,-4.010200,0,0_0_3
4,4,0,0,-447549.96,0.999532,17860614.95,-999.0,-999.0,0.999394,16485.54,1.000016,434.10,1.0,-7.349849,0,0_0_4

In [8]:
# Confirm if there are any missing values left
missing_values = df_cleaned.isnull().sum()

missing_values

stock_id             0
date_id              0
seconds_in_bucket    0
imbalance_size       0
reference_price      0
matched_size         0
far_price            0
near_price           0
bid_price            0
bid_size             0
ask_price            0
ask_size             0
wap                  0
target               0
time_id              0
row_id               0
dtype: int64

In [14]:
import torch
from torch.utils.data import DataLoader, TensorDataset
from sklearn.preprocessing import StandardScaler
from sklearn.model_selection import train_test_split

# Splitting the data into training and validation sets
train_data, val_data = train_test_split(df_cleaned, test_size=0.2, random_state=42)

# Extracting features and target
X_train = train_data.drop(columns=['target']).values
y_train = train_data['target'].values
X_val = val_data.drop(columns=['target']).values
y_val = val_data['target'].values

# Scaling the features for the neural network
scaler = StandardScaler()
X_train_scaled = scaler.fit_transform(X_train)
X_val_scaled = scaler.transform(X_val)

# Convert the data into PyTorch tensors
X_train_tensor = torch.tensor(X_train_scaled, dtype=torch.float32)
y_train_tensor = torch.tensor(y_train, dtype=torch.float32)
X_val_tensor = torch.tensor(X_val_scaled, dtype=torch.float32)
y_val_tensor = torch.tensor(y_val, dtype=torch.float32)

# Create DataLoader for batch processing
batch_size = 64
train_dataset = TensorDataset(X_train_tensor, y_train_tensor)
train_loader = DataLoader(train_dataset, batch_size=batch_size, shuffle=True)
val_dataset = TensorDataset(X_val_tensor, y_val_tensor)
val_loader = DataLoader(val_dataset, batch_size=batch_size, shuffle=False)

X_train_tensor.shape, y_train_tensor.shape, X_val_tensor.shape, y_val_tensor.shape

(torch.Size([4190208, 15]),
 torch.Size([4190208]),
 torch.Size([1047552, 15]),
 torch.Size([1047552]))

In [15]:
import torch.nn as nn
import torch.nn.functional as F

class SimpleNN(nn.Module):
    def __init__(self, input_dim, hidden_dim, output_dim=1):
        super(SimpleNN, self).__init__()
        self.fc1 = nn.Linear(input_dim, hidden_dim)
        self.fc2 = nn.Linear(hidden_dim, output_dim)

    def forward(self, x):
        x = F.relu(self.fc1(x))
        x = self.fc2(x)
        return x

# Initialize the model
input_dim = 15  # As per the tensor size you provided
hidden_dim = 64  # You can adjust this
model = SimpleNN(input_dim, hidden_dim)
print(model)

SimpleNN(
  (fc1): Linear(in_features=15, out_features=64, bias=True)
  (fc2): Linear(in_features=64, out_features=1, bias=True)
)

In [16]:
import torch.optim as optim

criterion = nn.MSELoss()
optimizer = optim.Adam(model.parameters(), lr=0.001)

In [18]:
num_epochs = 20

# Assuming train_loader is your dataloader for training data
for epoch in range(num_epochs):  
    running_loss = 0.0
    for i, data in enumerate(train_loader, 0):
        inputs, labels = data

        optimizer.zero_grad()

        outputs = model(inputs)
        loss = criterion(outputs, labels)
        loss.backward()
        optimizer.step()

        running_loss += loss.item()
        
    print(f"Epoch {epoch+1}, Loss: {running_loss/len(train_loader)}")

print('Finished Training')

/home/terps/mambaforge/envs/MLTrading/lib/python3.9/site-packages/torch/nn/modules/loss.py:520: UserWarning: Using a target size (torch.Size([64])) that is different to the input size (torch.Size([64, 1])). This will likely lead to incorrect results due to broadcasting. Please ensure they have the same size.
  return F.mse_loss(input, target, reduction=self.reduction)

Epoch 1, Loss: 89.58931558476515
Epoch 2, Loss: 89.58803575115236
Epoch 3, Loss: 89.5876946867328
Epoch 4, Loss: 89.58760025194196
Epoch 5, Loss: 89.58770631858214
Epoch 6, Loss: 89.58760625278379
Epoch 7, Loss: 89.58722120007812
Epoch 8, Loss: 89.5874629902525
Epoch 9, Loss: 89.5876350423516
Epoch 10, Loss: 89.58733870606152
Epoch 11, Loss: 89.58732330233937
Epoch 12, Loss: 89.58745665663265
Epoch 13, Loss: 89.58725659955631
Epoch 14, Loss: 89.58737723026807
Epoch 15, Loss: 89.58763996416289
Epoch 16, Loss: 89.58762677516405
Epoch 17, Loss: 89.58741768769272
Epoch 18, Loss: 89.58749576290215
Epoch 19, Loss: 89.58751225419059
Epoch 20, Loss: 89.58732856313388
Finished Training

In [9]:
import torch.nn as nn

class LSTMModel(nn.Module):
    def __init__(self, input_dim, hidden_dim, num_layers, output_dim):
        super(LSTMModel, self).__init__()
        self.hidden_dim = hidden_dim

        # Define the LSTM layer
        self.lstm = nn.LSTM(input_dim, hidden_dim, num_layers, batch_first=True)

        # Define the output layer
        self.linear = nn.Linear(hidden_dim, output_dim)

    def forward(self, x):
        # Initialize hidden state with zeros
        h0 = torch.zeros(self.num_layers, x.size(0), self.hidden_dim).requires_grad_()

        # Initialize cell state
        c0 = torch.zeros(self.num_layers, x.size(0), self.hidden_dim).requires_grad_()

        # 28 time steps
        # We need to detach as we are doing truncated backpropagation through time (BPTT)
        # If we don't, we'll backprop all the way to the start even after going through another batch 
        out, (hn, cn) = self.lstm(x, (h0.detach(), c0.detach()))

        # Index hidden state of last time step
        out = self.linear(out[:, -1, :]) 
        return out

In [11]:
import numpy as np
# Define function to create sequences
def create_sequences(data, seq_length):
    sequences = []
    targets = []
    
    for i in range(len(data) - seq_length):
        seq = data.iloc[i:i+seq_length].values
        target = data.iloc[i+seq_length]['target']
        
        sequences.append(seq)
        targets.append(target)
    
    return np.array(sequences), np.array(targets)

# Group by stock_id and date_id
grouped = df_cleaned.groupby(['stock_id', 'date_id'])

# Create sequences and targets
X, y = [], []
for _, group in grouped:
    group = group.drop(columns=['stock_id', 'date_id'])  # drop non-sequential columns
    sequences, targets = create_sequences(group, 6)
    X.append(sequences)
    y.append(targets)

X = np.vstack(X)
y = np.concatenate(y)

X.shape, y.shape